In [3]:
import pymongo
conn=pymongo.MongoClient("mongodb://localhost:27017/")
db=conn['college']
col=db['studlist']

1.Display name and marks of all female student in MCA

In [4]:
x=db.studlist.find({"gender":"female","course":"MCA"},{"name":1,"mark":1})
for i in x:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nMark: ",i['mark'])

Name: Athira Krishnan
Mark:  80

Name: Divya Vijayan
Mark:  70

Name: Renuka Vijayan
Mark:  82

Name: Remya V
Mark:  85

Name: Remya Sugunan
Mark:  72

Name: Vidhya Sugunan
Mark:  79

Name: Soorya S
Mark:  79

Name: Amritha S
Mark:  99

Name: Soorya P
Mark:  74

2.Display the details of student who secured highest mark in the course MCA

In [7]:
x=db.studlist.find({"course":"MCA"}).sort("mark",-1).limit(1)
for i in x:
    for j in i.keys():
        print(j+":",i[j])

_id: 20
name: {'fname': 'Amritha', 'lname': 'S'}
address: {'house_name': 'Arya Bhavan', 'city': 'Varkala'}
gender: female
course: MCA
mark: 99
grade: A+
phone: {'type': 'mobile', 'no': 9445365787}

3.Display all male students who secured A+ grade.

In [8]:
x=db.studlist.find({"gender":"male","grade":"A+"})
for i in x:
    print(i['name']['fname']+" "+i['name']['lname'])

Vimal Vinayan
Vimal Bose
Arun S

4.Display the names of the top three students in Mechanical department.

In [9]:
x=db.studlist.find({"course":"Mechanical"}).sort("mark",-1).limit(3)
for i in x:
     print(i['name']['fname']+" "+i['name']['lname'])

Kavya Mohan
Vimal Vinayan
Yadu Kannan

5.Display the details of female students who achived a mark more than 90

In [12]:
x=db.studlist.find({"mark":{"$gt":90},"gender":"female"})
for i in x:
     print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nGrade: "+i['grade']+"\nMarks: ",i['mark'],"\nContact_no: ",i['phone']['no'])

Name: Kavya Mohan
Grade: A+
Marks:  95
Contact_no:  9448399780

Name: Amritha S
Grade: A+
Marks:  99
Contact_no:  9445365787

6.Display the details of student who secured mark, more than 80 but less than 90

In [13]:
x=db.studlist.find({"mark":{"$gt":80,"$lt":90}})
for i in x:
     print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nGrade: "+i['grade']+"\nMarks: ",i['mark'],"\nContact_no: ",i['phone']['no'])

Name: Vidhya S
Grade: A
Marks:  85
Contact_no:  8146321420

Name: Yadu Kannan
Grade: A
Marks:  85
Contact_no:  9446321780

Name: Renuka Vijayan
Grade: A
Marks:  82
Contact_no:  04712547890

Name: Remya V
Grade: A
Marks:  85
Contact_no:  04712647890

7.Display the details of student whose name starts with V

In [14]:
x=db.studlist.find({"name.fname":{"$regex":"^V"}})
for i in x:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nCourse: "+i['course']+"\nGrade: "+i['grade']+"\nMarks: ",i['mark'],"\nContact no: ",i['phone']['no'])

Name: Varun Nair
Course: MCA
Grade: B+
Marks:  70
Contact no:  04712662690

Name: Vidhya S
Course: Civil
Grade: A
Marks:  85
Contact no:  8146321420

Name: Vivek Bose
Course: MCA
Grade: B
Marks:  60
Contact no:  04842663890

Name: Vimal Vinayan
Course: Mechanical
Grade: A+
Marks:  90
Contact no:  8185399780

Name: Vimal Bose
Course: MCA
Grade: A+
Marks:  90
Contact no:  9485399780

Name: Vinod Paniker
Course: MCA
Grade: B
Marks:  70
Contact no:  9445399787

Name: Vidhya Sugunan
Course: MCA
Grade: B+
Marks:  79
Contact no:  04712647790

8.Display all students from Kollam

In [15]:
x=db.studlist.find({"address.city":"Kollam"})
for i in x:
    print(i['name']['fname']+" "+i['name']['lname'])

Athira Krishnan
Yadu Kannan
Kavya Mohan
Vimal Vinayan
Jabin S
Arya Satheesh

9.Display all students who do not belong to neither Kollam nor Thiruvananthapuram

In [16]:
x=db.studlist.find({"address.city":{"$nin":["Kollam","Thiruvananthapuram"]}})
for i in x:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nCity: "+i["address"]["city"])

Name: Arya S
City: Varkala

Name: Vidhya S
City: Kadakkavoor

Name: Vivek Bose
City: Ernakulam

Name: Divya Vijayan
City: Varkala

Name: Vimal Bose
City: Ernakulam

Name: Vinod Paniker
City: Ernakulam

Name: Amritha S
City: Varkala

Name: Arun S
City: Attingal

Name: Abhilash S
City: Attingal

Name: Sree Raj
City: Varkala

10.Display all female students belong to either Kollam or Thiruvananthapuram

In [17]:
x=db.studlist.find({"gender":"female","address.city":{"$in":['Kollam',"Thiruvananthapuram"]}})
for i in x:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nCity: "+i["address"]["city"])

Name: Athira Krishnan
City: Kollam

Name: Kavya Mohan
City: Kollam

Name: Renuka Vijayan
City: Thiruvananthapuram

Name: Remya V
City: Thiruvananthapuram

Name: Remya Sugunan
City: Thiruvananthapuram

Name: Vidhya Sugunan
City: Thiruvananthapuram

Name: Arya Satheesh
City: Kollam

Name: Soorya S
City: Thiruvananthapuram

Name: Soorya P
City: Thiruvananthapuram

11.To update a cell

In [5]:
x=db.studlist.update_one({"_id":1},{"$set":{"mark":78}})

In [8]:
x=db.studlist.find({"_id":1})
for i in x:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nCourse: "+i['course']+"\nGrade: "+i['grade']+"\nMarks: ",i['mark'],"\nContact no: ",i['phone']['no'])

12.To delete a cell

In [7]:
x=db.studlist.delete_one({"_id":1})